---
import Head from "../components/head/Head.astro"
import Footer from "../components/footer/Footer.astro"
import Header from "../components/header/Header.astro";

const title="Page Not Found";
const description="ページが存在しません";
---

<html lang="ja" class="bg-base">
  <Head title={title} description={description}/>
  <body class="min-h-screen grid auto-rows-[auto_1fr_auto]">
    <Header/>
    <main class="sm:p-3 w-4/5 mx-auto">
      <article class="h-full flex justify-center items-center">
        <div class="text-center mb-24">
          <h2 class="text-8xl py-4 text-accent font-bold">404</h2>
          <p class="text-5xl pb-4">Page Not Found</p>
          <p class="text-sm">URLが間違っている、またはなんらかの理由でページを削除したり移動させた可能性があります。</p>  
        </div>
      </article>
    </main>
    <Footer/>
  </body>
</html>